services:
  wedding:
    build: .
    container_name: wedding-planner
    ports:
      - "8080:8080"
    environment:
      DB_USERNAME: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}
    volumes:
      - ./uploads:/app/uploads
